.agency-card {



    box-shadow: 0px 5px 15px rgba(62, 68, 104, 0.05);
    border-radius: 10px;



    h4 {
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #1E2836;
    }

    .subtitle {
        font-style: italic;
font-size: 18px;
line-height: 23px;

    }
    .website-link {
font-size: 14px;
line-height: 18px;
    }

    .stars {
        svg {
            margin: 1px;
            height: 15px;
            width: 15px;
        }
    }

    .small-p {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 130%;
        font-family: 'PT Sans';
        font-weight: 700;

    }    
    // .post-categories {
    //     list-style: none;
    //     display: flex;
    //     flex-wrap: wrap;
    //     padding: 0;

    //     li {
    //         padding: 10px 20px;
    //         background-color: #F8F9FA;
    //         border: 1px solid #E4E8EA;
    //         border-radius: 5px;
    //         margin-right: 10px;
    //         font-family: 'PT Sans';
    //         font-weight: 400;
    //         font-size: 14px;
    //         line-height: 18px;
    //         margin-bottom: 10px;
    //         &:last-child {
    //             margin-right: 0;
    //         }           
    //     }
    // }
    .border-right {
        border-right: 1px solid #E4E8EA !important;
    }

    .tags {
        display: flex;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        cursor: default;
        li {
            padding: 10px 20px;
            background-color: #F8F9FA;
            border: 1px solid #E4E8EA;
            border-radius: 5px;
            margin-right: 10px;
            font-family: 'PT Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 10px;
            &:last-child {
                margin-right: 0;
            }    
        }
    }
}